.input-block {
  margin-bottom: 20px;
  /* display: none; */
}
.invalid {
  font-size: 14px;
  display: flex;
  margin-top: 10px;
  color: #CA1B1B;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .input-block {
    margin-bottom: 20px;
  }
}