.first-row__left {
  width: 50%;
  margin-bottom: 2rem;
}
.first-row__left:first-of-type {
  margin-right: 8px;
}
.first-row__left:last-of-type {
  margin-left: 8px;
}
.first-row {
  display: flex;
}
::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  align-items: center;
  letter-spacing: -0.05px;
  color: darkgrey;
}

.label {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #6D7A98;
  text-align: left;
  display: block;
}
.password-input {
  position: relative;
  /* padding: 0 32px; */
}
/* .password-icon {
  position: absolute;
  right: 25px;
  top: 14px;
  padding-top: 25px;
} */
.input-block {
  margin-bottom: 20px;
  /* display: none; */
}
.invalid {
  font-size: 14px;
  display: flex;
  margin-top: 10px;
  color: #CA1B1B;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .first-row__left {
    width: 100%;
  }
  .first-row__left:first-of-type,
  .first-row__left:last-of-type  {
    margin: 0;
    margin-bottom: 2rem;
  }
  .first-row__left {
    margin-right: 0;
    /* margin-bottom: 2rem; */
  }
  .first-row {
    display: grid;
  }
  .input-block {
    margin-bottom: 20px;
  }
}