.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(13, 15, 17, 0.3);
    backdrop-filter: blur(1px);
    color: #fff;
    display: flex;
    justify-content: flex-end;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
}
.modal.open {
    visibility: visible;
    opacity: 1;
}
.form {
    margin-right: 3.2rem;
}
.modal__transfer,
.modal__fund {
    max-width: 49.6rem;
    background: #fff;
    transform: translateX(40%);
    opacity: 1;
    transition: all 300ms ease-in-out;
    width: 100%;
}
.modal.open .modal__transfer,
.modal.open .modal__fund {
    opacity: 1;
    transform: translateX(0);
}
.modal__transfer__header,
.modal__fund__header {
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 3.2rem;
    align-items: center;
    border-bottom: 1px solid #D7DCE0;
}
.modal__transfer__header h2,
.modal__fund__header h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0B2253;
}
.modal__transfer__body h3,
.modal__fund__body h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.002em;
    color: #0B2253;
    margin-bottom: 1.6rem;
}
.modal__transfer__body,
.modal__fund__body {
    padding-top: 4rem;
    padding-left: 3.2rem;
}
.modalBtn {
    background: none;
    margin: none;
    border: none;
    cursor: pointer;
}