.hero-section__form{
    margin-bottom: 0;
}
.resetPassword-section {
    /* padding: 0 11rem; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 10rem;
}
.resetPassword-section__text {
    margin-top: 1.5rem;
}
.box__icon {
    text-align: center;
    margin-bottom: 6rem;
}
.box__icon img{
    text-align: center;
    /* width: 16.5rem;
    height: 16rem; */
}
.box-text h4 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.8px;
    color: #0B2253;
    font-weight: 500;
}
.box-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.05px;
    color: #6D7A98;
    min-width: 404px;
    margin-top: 1.6rem;
}

@media screen and (max-width: 768px) {
    .resetPassword-section__box {
      width: 100%;
      /* display: none; */
    }
    .box-text p {
        font-size: 1.5rem;
        min-width: 100%;
    }
    .box-text h4 {
        font-size: 2.5rem;
    }
  }