
.forgotPassword {
  text-align: left;
  margin-top: 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color:  #6D7A98;
}
.forgotPassword {
  color: #1F6AEC;
  font-weight: 500;
}
.forgotPassword:hover {
  color:   #0B2253;
}
.forgotPassword {
  margin-top: 0;
  margin-bottom: 2.4rem;
}
.input-block {
  margin-bottom: 20px;
}